<table>
    <thead>
        <tr>
        {% for field in fields %}
            <th>
                {{ labels[field]|default(field) }}
            </th>
        {% endfor %}
        {% if actions.edit|default(true) or actions.delete|default(true) %}
            <th>actions</th>
        {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
        {% for field in fields %}
            <td>
                {% set t = types[field]|default('string') %}
                {% if t == "boolean" %}
                    {% if get_attribute_value(entity, field) %}yes{% else %}no{% endif %}
                {% else %}
                    {{ get_attribute_value(entity, field) }}
                {% endif %}
            </td>
        {% endfor %}
        {% if actions.edit|default(true) or actions.delete|default(true) %}    
            <td>
                {% if actions.edit|default(true) %}
                <a class="btn" href="{{ path(route_name_prefix ~ '_edit', {'id':get_attribute_value(entity, identifier) }) }}">edit</a>
                {% endif %}
                {% if actions.delete|default(true) %}
                <a class="btn" href="{{ path(route_name_prefix ~ '_delete', {'id':get_attribute_value(entity, identifier) }) }}">delete</a>
                {% endif %}
            </td>
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if actions.new|default(true) %}
    <a href="{{ path(route_name_prefix ~ '_new') }}">new</a>
{% endif %}